<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholars</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/css/admin.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/897c51c62d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/js/emailValidation.js"></script>
</head>

<body>
    <div class="bg">
		  <!-- Navbar -->
		  <%- include('partials/adminNavbar') %>

      <div class="container container-margin">
        <h1 class="light-font">Announcements</h1>
        <h5 class="light-font"><%= user %></h5>
      </div>

      <div class="container container-margin">
        <!-- Create an Announcement -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Announcement
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Create an Announcement</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form to create an announcement -->
            <form name="create-announcement" action ="/admin/create-announcement" method = "POST">
              <div class="modal-body">
							  <input type=text id="title" name="title" class="form-control" maxlength= "64" placeholder= "Title" required>
                <textarea type=text id="announcement" name="announcement" class="form-control" cols="30" rows="10"></textarea>
                <div id="announcementHelpInline" class="form-text">
                  Maximum of 500 characters.
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container ">
        <!-- announcements -->
        <% for(var post of posts) { %>
          <div class="card container-margin">
            <div class="card-header">
              <%= post.date %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text thick"><%= post.admin %></p>
              <p class="card-text"><%= post.announcement %></p>
            </div>
          </div>
        <% } %>
      </div>
      
    </div>
  <script>
      document.addEventListener('click', function() {
          // Send request to server to update session's last activity timestamp
          fetch('/update-session-activity')
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to update session activity');
              }
            })
            .catch(error => {
              console.error('Error updating session activity:', error);
            });
        });
          // Add event listener for button clicks
        document.getElementById('showTextButton').addEventListener('click', function() {
        // Display the hidden text
            var displayText = document.getElementById('displayText');
          
          // Toggle the display of the hidden text
          if (displayText.style.display === 'none') {
              displayText.style.display = 'block';
          } else {
              displayText.style.display = 'none';
          }
          fetch('/update-session-activity')
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to update session activity');
              }
            })
            .catch(error => {
              console.error('Error updating session activity:', error);
            });
      });
  </script>

    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>