<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approved Scholar Renewal Applications</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/css/admin.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/897c51c62d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src = "/js/pictureValidation.js"></script>
</head>

<body>

    <div class="bg">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand thick light-font" href="/">DOST-SEI</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  	</button>
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  		<li class="nav-item">
							<a class="nav-link light-font" href="/admin/dashboard">Home</a>
				  		</li>
                        <li class="nav-item">
							<a class="nav-link light-font" href="/admin/scholars">Scholars</a>
				  		</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Scholarship Renewal</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/renew-scholarship">Pending</a></li>
                                <li><a class="dropdown-item" href="/admin/renew-scholarship/approved">Approved</a></li>
                                <li><a class="dropdown-item" href="/admin/renew-scholarship/rejected">Rejected</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Travel Abroad</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/travel-abroad">Pending</a></li>
                                <li><a class="dropdown-item" href="/admin/travel-abroad/approved">Approved</a></li>
                                <li><a class="dropdown-item" href="/admin/travel-abroad/rejected">Rejected</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Thesis Budget</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/travel-budget">Pending</a></li>
                                <li><a class="dropdown-item" href="/admin/travel-budget/approved">Approved</a></li>
                                <li><a class="dropdown-item" href="/admin/travel-budget/rejected">Rejected</a></li>
                            </ul>
                        </li>
				  		<li class="nav-item">
							<a class="nav-link light-font" href="/admin/logout">Logout</a>
				  		</li>
					</ul>
					<div class="d-flex">
				  		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<a href="https://www.facebook.com/DOST.SEI" target="_blank" class="social light-font"><i class="fa-brands fa-facebook-f"></i></a>
							<a href="https://www.science-scholarships.ph" target="_blank" class="social light-font"><i class="fa-solid fa-earth-americas"></i></a>
				  		</ul>
					</div>
			  	</div>
			</div>
		</nav>

        <div class="container">
            <h1 class="light-font">Approved Scholarship Renewal Applications</h1>
        </div>

        <div class="container"> 
            <div id="favorites-container" class="row row-cols-2 row-cols-md-3 row-cols-xl-5 g-2">
                <!-- scholars -->
                <% for(var app of applications) { %>
                    <div class="col mb-1">
                        <div class="card h-100">
							<div class="card-header"><%= app.dateApproved %></div>
                            <div class="card-body">
                                <!-- makes the card clickable -->
								<!-- [TODO] turn into /admin/scholars/:id -->
                                <a href="/admin/scholars/profile"><h5 class="card-title"><%= app.scholar %></h5></a>
								<h6 class="card-subtitle text-muted"><%= app.type %></h6>
								<h6 class="card-subtitle text-muted"><%= app.school %></h6>
                                <div class="d-flex flex-row">
                                    <p class="card-text fw-semibold">Date Submitted:&nbsp;&nbsp;</p>
                                    <p class="card-text"><%= app.dateSubmitted %></p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="card-text fw-semibold">Checked By:&nbsp;&nbsp;</p>
                                    <p class="card-text"><%= app.checkedBy %></p>
                                </div>
								<div class="link-container">
									<a href="<%= app.eaf %>" class="card-link" target=”_blank”><i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;EAF</a>
    								<a href="<%= app.grades %>" class="card-link" target=”_blank”><i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;Grades</a>
								</div>
                                <div class="link-container">
									<a href="<%= app.approved %>" class="card-link" target=”_blank”><i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;Letter of Enrollment</a>
								</div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>