<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholars</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/css/scholarProfile.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/897c51c62d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/js/emailValidation.js"></script>
</head>

<body>
    <div class="bg">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand thick light-font" href="/">DOST-SEI</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  	</button>
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  		<li class="nav-item">
							<a class="nav-link light-font" href="/admin/dashboard">Home</a>
				  		</li>
                        <li class="nav-item">
							<a class="nav-link light-font" href="/admin/renew-scholarship">Scholarship Renewal</a>
				  		</li>
				  		<li class="nav-item">
							<a class="nav-link light-font" href="/admin/logout">Logout</a>
				  		</li>
					</ul>
					<div class="d-flex">
				  		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<a href="https://www.facebook.com/DOST.SEI" target="_blank" class="social light-font"><i class="fa-brands fa-facebook-f"></i></a>
							<a href="https://www.science-scholarships.ph" target="_blank" class="social light-font"><i class="fa-solid fa-earth-americas"></i></a>
				  		</ul>
					</div>
			  	</div>
			</div>
		</nav>

        <!-- page content: Item -->
        <div class="container card-container">
            <div class="card shadow">
                <div class="card-header">
                    <h2><%= scholar %></h2>
                    <h6><%= email %></h6>
                </div>
                <div class="card-body">
                    <img src='<%= userpic %>' />
                    <h5 class="card-title"><%= type %></h5>
                    <div class="d-flex flex-row">
                        <p class="fw-semibold">University:&nbsp;&nbsp;</p>
                        <p class="card-title"><%= school %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="fw-semibold">Degree:&nbsp;&nbsp;</p>
                        <p class="card-title"><%= degree %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="fw-semibold">Landbank Account Name:&nbsp;&nbsp;</p>
                        <p class="card-title"><%= accName %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="fw-semibold">Landbank Account Number:&nbsp;&nbsp;</p>
                        <p class="card-title"><%= accNum %></p>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="fw-semibold">Verified:&nbsp;&nbsp;</p>
                        <p class="card-title"><%= verified %></p>
                    </div>
                </div>
                
                <!-- [TODO] turn into /admin/scholars/:id/verify -->
                <div class="form-container">
                    <form name = "Verify" action ="/admin/scholars/profile/verify"  method = "POST">
                        <input type=text id="email" name = "email" value="<%= email %>" class="form-control" style="display: none">
                        <input class = "form-control btn btn-success" type="submit" value ="Verify">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>