<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholars</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/css/admin.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/897c51c62d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "/js/emailValidation.js"></script>
</head>

<body>

    <div class="bg">
		<!-- Navbar -->
		<%- include('partials/adminNavbar') %>

        <div class="container">
            <h1 class="light-font">Registered Scholars</h1>
        </div>

        <div class="container"> 
            <div id="favorites-container" class="row row-cols-2 row-cols-md-3 row-cols-xl-5 g-2">
                <!-- scholars -->
                <% if (people.length > 0) { %> <% for(var person of people) { %>
                    <div class="col mb-1">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="/admin/scholars/<%=person.id %>"><h5 class="card-title"><%= person.fullname %></h5></a>
                                <h6 class="card-subtitle text-muted"><%= person.scholar_type %></h6>
                            </div>
                            <div class="card-footer"> 
                                <p class="card-text float-start univ"><%= person.university %></p>
                            </div>
                        </div>
                    </div>
                <% } %> <% } %>
            </div>
        </div>

    <!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>